@model IEnumerable<LibraryManagementSystem.DAL.Models.Author>

<h2>Authors</h2>
<a asp-action="CreateAuthor" class="btn btn-primary">Add New Author</a>


<form method="get" asp-controller="Author" asp-action="Index">
    <input type="text" name="searchTerm" value="@ViewBag.SearchTerm" placeholder="Search..." />
    <button type="submit" class="btn btn-info btn-sm">Search</button>
</form>

<table class="table table-bordered mt-3">
    <thead>
        <tr>
            <th>Full Name</th>
            <th>Email</th>
            <th>Website</th>
            <th>Bio</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var author in Model)
        {
            <tr>
                <td>@author.FullName</td>
                <td>@author.Email</td>
                <td>@author.Website</td>
                <td>@author.Bio</td>
                <td>
                    <a asp-action="EditAuthor" asp-route-id="@author.Id"
                       class="btn btn-sm btn-warning">Edit</a>

                    <a asp-action="DeleteAuthor" asp-route-id="@author.Id"
                       class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="pagination mt-3">
    @for (int i = 1; i <= ViewBag.TotalPages; i++)
    {
        <a asp-action="Index" asp-route-page="@i" asp-route-searchTerm="@ViewBag.SearchTerm"
           class="btn @(i == ViewBag.Page ? "btn-primary" : "btn-outline-primary") btn-sm">
            @i
        </a>
    }
</div>